# Pandas

Exercises below were extracted from: Numerical Python by Robert Johansson (2015)

- Chapter 12: Data Processing and Analysis

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
import matplotlib as mpl
mpl.style.use('ggplot')

In [ ]:
import seaborn as sns

### Series

In [ ]:
s = pd.Series([909976, 8615246, 2872086, 2273305])
s

In [ ]:
list(s.index)

In [ ]:
s.values

In [ ]:
s.index = ['Stockholm', 'London', 'Rome', 'Paris']
s.name = 'Population'
s

In [ ]:
s = pd.Series([909976, 8615246, 2872086, 2273305], name='Population', 
              index=['Stockholm', 'London', 'Rome', 'Paris'])
s

In [ ]:
s['London']

In [ ]:
s[['Rome', 'Paris']]

In [ ]:
s.mean(), s.median(), s.std()

In [ ]:
s.min(), s.max()

### Wikipedia

quantiles are cut points dividing the range of a 
probability distribution into continuous intervals with 
equal probabilities, or dividing the observations in 
a sample in the same way.

- The only 2-quantile is called the median
- The 3-quantiles are called tertiles or terciles â†’ T
- The 4-quantiles are called quartiles
- The 100-quantiles are called percentile

In [ ]:
s.quantile(q=0.25), s.quantile(q=0.5), s.quantile(q=0.75)

In [ ]:
s.describe()

In [ ]:
fig, axes = plt.subplots(1, 4, figsize=(12, 3))
s.plot(ax=axes[0], kind='line', title='line')
s.plot(ax=axes[1], kind='bar', title='bar')
s.plot(ax=axes[2], kind='box', title='box')
s.plot(ax=axes[3], kind='pie', title='pie')

### DataFrame

In [ ]:
df = pd.DataFrame([[909976, 'Sweden'], [8615246, 'United Kingdom'], [2872086, 'Italy'], [2273305, 'France']])
df

In [ ]:
df.index = ['Stockholm', 'London', 'Rome', 'Paris']
df.columns = ['Population', 'State']
df

In [ ]:
df = pd.DataFrame([[909976, 'Sweden'], [8615246, 'United Kingdom'], [2872086, 'Italy'], [2273305, 'France']],
                 index=['Stockholm', 'London', 'Rome', 'Paris'],
                 columns = ['Population', 'State'])

In [ ]:
df.Population

In [ ]:
df.State

In [ ]:
df.loc['Stockholm']

In [ ]:
df.loc[['Stockholm', 'Rome']]

In [ ]:
df.loc[['Stockholm', 'Rome'], 'Population']

In [ ]:
df.mean()

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
!head -n 5 european_cities.csv

In [ ]:
df_pop = pd.read_csv('european_cities.csv', delimiter=',', encoding='utf-8', header=0)

In [ ]:
df_pop.info()

In [ ]:
df_pop.head()

In [ ]:
df_pop['NumericPopulation'] = df_pop.Population.apply(lambda x: int(x.replace(',', '')))
df_pop['State'].values[:3]

In [ ]:
df_pop['State'] = df_pop['State'].apply(lambda x:x.strip())
df_pop.head()

In [ ]:
df_pop.dtypes

In [ ]:
df_pop2 = df_pop.set_index('City')
df_pop2 = df_pop2.sort_index()
df_pop2.head()

In [ ]:
df_pop3 = df_pop.set_index(['State', 'City']).sort_index(level=0)
df_pop3.head(7)

In [ ]:
df_pop3.loc['Sweden']

In [ ]:
df_pop3.loc['Sweden', 'Gothenburg']

In [ ]:
df_pop.set_index('City').sort_values(['State', 'NumericPopulation'],
                                    ascending=[False, True]).head()

In [ ]:
city_counts = df_pop.State.value_counts()
city_counts.head()

In [ ]:
df_pop3 = df_pop[['State', 'City', 'NumericPopulation']].set_index(['State', 'City'])
df_pop4 = df_pop3.sum(level='State').sort_values('NumericPopulation', ascending=False)
df_pop4.head()

In [ ]:
df_pop5 = (df_pop.drop('Rank', axis=1)
           .groupby('State').sum()
           .sort_values('NumericPopulation', ascending=False))

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12,4))
city_counts.plot(kind='barh', ax=ax1)
ax1.set_xlabel('# cities in top 105')
df_pop5.NumericPopulation.plot(kind='barh', ax=ax2)
ax2.set_xlabel('Total pop. in top 105 cities')

### Time Series

In [ ]:
pd.date_range('2015-1-1', periods=31)

In [ ]:
pd.date_range('2015-1-1 00:00', '2015-1-1 12:00', freq='H')

In [ ]:
ts1 = pd.Series(np.arange(31), index=pd.date_range('2015-1-1', periods=31))
ts1.head()

In [ ]:
ts1['2015-1-3']

In [ ]:
ts1.index[2]

In [ ]:
ts1.index[2].year, ts1.index[2].month, ts1.index[2].day

In [ ]:
ts1.index[2].nanosecond

In [ ]:
ts1.index[2].to_pydatetime()

In [ ]:
ts2 = pd.Series(np.random.rand(2),
               index=[datetime.datetime(2015, 1, 1), 
                     datetime.datetime(2015, 2, 1)])
ts2

In [ ]:
periods = pd.PeriodIndex([pd.Period('2015-01'),
                          pd.Period('2015-02'),
                          pd.Period('2015-03')])
ts3 = pd.Series(np.random.rand(3), index=periods)
ts3

In [ ]:
ts3.index

In [ ]:
ts2.to_period('M')

In [ ]:
!head -n 5 temperature_outdoor_2014.tsv

In [ ]:
df1 = pd.read_csv('temperature_outdoor_2014.tsv', delimiter='\t', names=['time', 'outdoor'])
df2 = pd.read_csv('temperature_indoor_2014.tsv', delimiter='\t', names=['time', 'indoor'])

In [ ]:
df1.head()

In [ ]:
df1.time = (pd.to_datetime(df1.time.values, unit='s')
           .tz_localize('UTC').tz_convert('Europe/Stockholm'))
df1 = df1.set_index('time')
df2.time = (pd.to_datetime(df2.time.values, unit='s')
           .tz_localize('UTC').tz_convert('Europe/Stockholm'))
df2 = df2.set_index('time')
df1.head()

In [ ]:
fig, ax  = plt.subplots(1, 1, figsize = (12,4))
df1.plot(ax=ax)
df2.plot(ax=ax)

In [ ]:
df1.info()

In [ ]:
mask_jan = (df1.index >= '2014-1-1') & (df1.index < '2014-2-1')
df1_jan = df1[mask_jan]
df1_jan.info

In [ ]:
df2_jan = df2['2014-1-1':'2014-1-31']
df2_jan.info()

In [ ]:
# fig, ax = plt.subplots(1, 1, figsize=(12, 4))

# df1_jan.plot(ax=ax)
# df2_jan.plot(ax=ax)


fig, ax = plt.subplots(1, 1, figsize=(12, 4))
df1.plot(ax=ax)
df2.plot(ax=ax)

fig.tight_layout()

In [ ]:
df1_month = df1.reset_index()
df1_month ['month'] = df1_month.time.apply(lambda x: x.month)
df1_month.head()

In [ ]:
df1_month = df1_month.groupby('month').aggregate(np.mean)
df2_month = df2.reset_index()
df2_month['month'] = df2_month.time.apply(lambda x: x.month)
df2_month = df2_month.groupby('month').aggregate(np.mean)

In [ ]:
df_month = df1_month.join(df2_month)
df_month.head(3)

In [ ]:
df_month = pd.concat([df.to_period('M').groupby(level=0).mean()
                     for df in [df1, df2]], axis=1)
df_month.head(3)

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(12, 4))
df_month.plot(kind='bar', ax=axes[0])
df_month.plot(kind='box', ax=axes[1])

In [ ]:
df1_hour = df1.resample('H').mean()
df1_hour.columns = ['outdoor(hourly avg.)']
df1_day = df1.resample('D').mean()
df1_day.columns = ['outdoor (daily avg.)']
df1_week = df1.resample('7D').mean()
df1_week.columns = ['outdoor (weekly avg.)']
df1_month = df1.resample('M').mean()
df1_month.columns = ['outdoor (monthly avg.)']
df1_diff = (df1.resample('D').mean().outdoor - df2.resample('D').mean().indoor)

fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(12, 6))

df1_hour.plot(ax=ax1, alpha=0.25)
df1_day.plot(ax=ax1)
df1_week.plot(ax=ax1)
df1_month.plot(ax=ax1)
df1_diff.plot(ax=ax2)
ax2.set_title('temperature difference between outdoor and indoor')
fig.tight_layout()

In [ ]:

pd.concat(
    [df1.resample('5min').mean().rename(columns={'outdoor':'None'}),
     df1.resample('5min').ffill().rename(columns={'outdoor': 'ffill'}),
     df1.resample('5min').bfill().rename(columns={'outdoor': 'bfill'})],
    axis=1).head()

### Seaborn graphics lib

In [ ]:
df1 = pd.read_csv('temperature_outdoor_2014.tsv', delimiter='\t', names=['time', 'outdoor'])
df1.time = (pd.to_datetime(df1.time.values, unit='s')
              .tz_localize('UTC').tz_convert('Europe/Stockholm'))
df1 = df1.set_index('time').resample('10min').mean()

df2 = pd.read_csv('temperature_indoor_2014.tsv', delimiter='\t', names=['time', 'indoor'])
df2.time = (pd.to_datetime(df2.time.values, unit='s')
              .tz_localize('UTC').tz_convert('Europe/Stockholm'))
df2 = df2.set_index('time').resample('10min').mean()

df_temp = pd.concat([df1, df2], axis=1)
fig, ax = plt.subplots(1, 1, figsize=(8, 4))
df_temp.resample('D').mean().plot(y=['outdoor', 'indoor'], ax=ax)

**Time-series plot produced by Matplotlib using the Pandas
library, with a plot style that is set up by the Seaborn library**

In [ ]:
sns.distplot(df_temp.to_period('M')['outdoor']['2014-04'].dropna().values, bins=50)
sns.distplot(df_temp.to_period('M')['indoor']['2014-04'].dropna().values, bins=50)

**The histogram (bars) and kernel-density plots (solid lines) for the
subset of indoor and outdoor datasets that corresponds to the month of April**

In [ ]:
sns.kdeplot(df_temp.resample('H').mean()['outdoor'].dropna().values,
            df_temp.resample('H').mean()['indoor'].dropna().values, shade=False)

with sns.axes_style('white'):
    sns.jointplot(df_temp.resample('H').mean()['outdoor'].values, 
                  df_temp.resample('H').mean()['indoor'].values,
                  kind = 'hex')

**Two-dimensional kernel-density estimate contour (top) and the joint distribution
for the indoor and outdoor temperature datasets (bottom). the outdoor
temperatures are shown on the x axis and the indoor temperatures on 
the y axis.**

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize = (8, 4))
sns.boxplot(df_temp.dropna(), ax=ax1, palette='pastel')
sns.violinplot(df_temp.dropna(), ax=ax2, palette='pastel')
fig.tight_layout()

In [ ]:
sns.violinplot(x=df_temp.dropna().index.month, 
              y=df_temp.dropna().outdoor, color='skyblue')

In [ ]:
df_temp['month'] = df_temp.index.month
df_temp['hour'] = df_temp.index.hour
table = pd.pivot_table(df_temp, values='outdoor',
                       index = ['month'], columns = ['hour'], aggfunc=np.mean)

fig, ax = plt.subplots(1, 1, figsize=(8,4))
sns.heatmap(table, ax=ax)